extends ../layout/base

block variables
	- let title = 'Home'


block content
	.page
		.page__content.container
			ul
				li
					a(href="grafic") grafic page
				li
					a(href="activity") activity page